// Current Env
NODE_ENV=development
// server port
PORT=4000
SERVER_ORIGIN=http://localhost:4000
FRONTEND_ORIGIN=http://localhost:4200
// DB creds
DB_NAME=
DB_HOST=
DB_CLUSTER=
DB_USER=
DB_PASSWORD=
// session secret key
SESSION_SECRET=
// upload directories
UPLOAD_DIR=
UPLOAD_DIR_ORDERS=
UPLOAD_DIR_GALLERY=
UPLOAD_DIR_FILMS=
// log files path
LOGGING_PATH=
// inatial admin password (first use only)
// required_only_for_first_time
//ADMIN_INITIAL_PASSWORD=
// email service creds
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
// email will send the mail
SMTP_USER=
SMTP_PASS=""
FROM_EMAIL=""
// email will recaive the mail 
CONTACT_RECEIVER=
// Ffmpeg and Ffprobe paths
FFMPEG_PATH=""
FFPROBE_PATH=""